* {
    padding: 0;
    margin: 0;
}

/* nav > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01987A;
}

nav ul li {
    list-style-type: none;
    margin-right: 20px;
    padding: 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    background-color: rgb(13, 124, 228);
}

 */

nav>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01987A;
    margin-bottom: 200px;
}

nav ul li {
    list-style-type: none;
    padding: 10px 20px;
    position: relative;
    background-color: #01987A;
    transition: 0.5s ease-in-out;
}

nav ul li:hover {
    background-color: rgb(13, 124, 228);
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li .dropdown {
    display: none;
    position: absolute;
    left: 0px;
    top: 38px;
    width: 7.8rem;
    background-color: #01987A;
}

nav ul li:hover .dropdown {
    display: block;
}

.dropdown li {
    position: relative;
    color: #ffffff;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.dropdown li .drop-2down {
    display: none;
    position: absolute;
    left: 7.8rem;
    top: 0px;
}

.dropdown li:hover .drop-2down{
    display: block;
}